#panel {
	text-align: center;
	width: 205px;
	margin: auto;
	margin-top: 200px;
}
#input_field {
	width:205px;
	height: 70px;
	background-color: #181818;
	color: white;
	border: none;
	text-align: right;
	line-height: 400%;
	font-size: 25px;
}
.row div:hover {
	cursor: pointer;
}
.row div{
	background-color: #E8E8E8;
	list-style-type: none;
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 300%;
	border: solid;
	border-width:1px;
	margin-bottom: -1px;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;

}

.row div:hover{
	background-color: #6C6C6C;
	transition: background-color 0.3 ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
}
.row {
	width: 208px;
}

div .special {
	background-color: #A8A8A8;
}

div .operator {
	background-color: #FF9900;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;

}

div .operator:hover{
	background-color: #F75000;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;

}
.m_right {
	margin-right: -1px;
}

